<fieldset class="box" id="reminder_notification">
  <legend>
    Issues on Favicon
  </legend>
  <div class="tabular">
    <p>
      <label><%= h l(:label_issue_favicon) %></label>
      <%= check_box :pref, 'issue_favicon' %>
    </p>
  </div>
</fieldset>